@model CustomerDTO

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h2>@Model.Name</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">EMAIL: @Model.Email</li>
        <li class="list-group-item">ADDRESS: @Model.Address</li>
        <li class="list-group-item">CONTACT: @Model.ContactId</li>

    </ul>
</div>