@model EmployeeDetailsViewModel

<div class="card" style="width: 18rem;">
    <div class="card-header">
        <h2>@Model.PageTitle</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> NAME: @Model.EmployeeName</li>
     
    </ul>
</div>
